<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Aprendizagem de Máquina e Ciência de Dados</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="/tutoriais/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>

                    <h4 class="service-heading">Tutoriais</h4>
                    <p class="text-muted">Aqui serão apresentadas, de forma prática e instrutiva, as principais técnicas de aprendizagem de máquina.</p>
                </div>
                <div class="col-md-4">
                    <a href="/portfolio/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    <h4 class="service-heading">Portfolio</h4>
                    <p class="text-muted">Seção com alguns trabalhos e resoluções de problemas utilizando técnicas de aprendizagem de máquina e ciência de dados.</p>
                </div>
                <div class="col-md-4">
                    <a href="/primeirosPassos/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-spinner fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    <h4 class="service-heading">Aprendizagem de Máquina</h4>
                    <p class="text-muted">Uma breve introdução a aprendizagem de máquina, apresentando os principais conceitos da área.</p>
                </div>
            </div>
        </div>
    </section>
